.donorCont {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.donate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.donate > div{
  display: flex;
  flex-direction: row;
  gap: 6rem;
}

.donate > button {
  min-width: 10rem;
  height: 2.4rem;
  background-color: #000;
  color: #fff;
  border: transparent;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
