.infoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.numBox {
  position: relative;
  top: 4rem;
  z-index: -1;
}

.numBox h2 {
  position: absolute;
  top: 26%;
  right: 73%;
  font-size: 3rem;
}

.infoBox {
  width: 17rem;
  height: 17rem;
  background-color: #faf8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  padding: 2rem;
}
