.loginMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  height: 50vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.loginForm > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  min-width: 100%;
}

.inputCont input {
  min-width: 14.5rem;
  height: 2rem;
  border: 1px solid #dadada;
  border-radius: 7px;
}

.submitBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: 10rem;
  height: 2.5rem;
  background-color: transparent;
  border: 1px solid #dadada;
  border-radius: 7px;
  cursor: pointer;
}

.submitBtn img {
  aspect-ratio: 4/3;
  object-fit: contain;
  mix-blend-mode: color-burn;
}
