.bloodBanksCont {
  max-width: 70%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  padding: 3rem;
  gap: 2rem;
}

.filter {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.filter > label {
  font-family: "Roboto";
  font-weight: 600;
}

.filter > input {
  min-width: 10rem;
  height: 1.3rem;
  border-radius: 0.5em;
  border: 1px solid #000;
}

.bloodBanksInfo {
  min-width: 90%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 1rem;
  gap: 1rem;
}

.bloodBanksInfo > h2,
h4 {
  margin: 0;
}

.bloodBanksInfo > button {
  max-width: 9.375rem;
  height: 2.5rem;
  background-color: #000;
  color: #fff;
  font-family: "Roboto";
  font-weight: 700;
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
}
